        <!-- Sidebar -->
        <ul class="navbar-nav custom-bg-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Astainy </div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>All files</span></a>
            </li>
            
            <hr class="sidebar-divider my-0">

            <div class="nav-item">
                <a class="nav-link" href="/upload">
                    <i class="fas fa-fw fa-upload"></i>
                    <span>Upload File</span></a>
            </div>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/document">
                    <i class="fas fa-fw fa-file"></i>
                    <span>Document</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Nav Item - Audio page -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/audio">
                    <i class="fas fa-fw fa-file-audio"></i>
                    <span>Audio</span>
                </a>
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Film page -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/film">
                    <i class="fas fa-fw fa-film"></i>
                    <span>Film</span>
                </a>
                
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Image page -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="/image">
                    <i class="fas fa-fw fa-image"></i>
                    <span>Image</span>
                </a>
                
            </li>

            <hr class="sidebar-divider my-0">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline mt-4">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

            <!-- Help -->
            <div class="sidebar-card d-lg-flex">
                <a class="custom-btn-success btn-sm" href="mailto:astainyharris1@gmail.com">Contact Support</a>
            </div>

        </ul>
        <!-- End of Sidebar -->