<!-- Add header information -->
<%- include('./partials/_header.ejs') %>

<section class="notFound-main-container">
    <section class="notFound-text-container">
        <h1>404</h1>
        <p>Page Not Found!</p> <br>
        <span><a href="/"> Go Home &rarr;</a></span>
    </section>
</section>

<%- include('./partials/_footer.ejs') %>
<!-- Add footer information -->