<!-- Add header information -->
<%- include('./partials/_header.ejs') %>

<section class="notFound-main-container">
    <section class="notFound-text-container">
        <h1><%= message %></h1>
        <p>Internal Server Error!</p> <br>
        <p>Please check back later our team is working to resolve it.</p>
    </section>
</section>

<%- incluse('./partials/_footer.ejs') %>
<!-- Add footer information -->