<!-- Add header information -->
<%- include('./partials/_header.ejs') %>

<section class="dashbord-main-container">
        <!-- Header section starts -->
        <header>
                <section class="search-container">
                        <input type="text" name="search" id="search" placeholder="Search files....">
                        <button type="submit">Search</button>
                </section>
                <section class="profile-picture-container">
                        <section class="profile-image">
                                <img src="" alt="user image">
                        </section>
                </section>
        </header>
        <!-- Header section ends -->
        <!-- Aside section starts -->
        <aside>
                <nav>
                        <section class="open-menu">
                                <i class="fa fa-bars"></i>
                        </section>
                        <ul>
                                <li>One</li>
                                <li>Two</li>
                                <li>Three</li>
                                <li>Four</li>
                        </ul>
                        <section class="help-btn">
                                <a href="#"><i class="fa fa-help"></i></a>
                        </section>
                </nav>
        </aside>
        <!-- Aside section ends -->
        <!-- Main container starts -->
        <main>
                <h1>Dashboard</h1> 
                <section class="content-container">
                        <div>1</div>
                        <div>2</div>
                        <div>3</div>
                        <div>4</div>
                </section> 
        </main>
        <!-- main container ends -->
        <!-- Footer section starts -->
        <footer class="dashboard-footer-info">
                <ul>
                        <li><i class="fa fa-facebook"></i></li>                
                        <li><i class="fa fa-github"></i></li>                
                        <li><i class="fa fa-gmail"></i></li>                
                </ul>
        </footer>
        <!-- Footer section ends -->
</section>

<%- include('./partials/_footer.ejs') %>
<!-- Add footer information -->