<!-- Add header information -->
<%- include('./partials/_auth_header.ejs') %>

<section class="login-main-container">
    <form action="/dashboard" method="post">

        <section class="header login_and_signup">
            <h4>Log in</h4>
            <!-- <% if(successMessage && successMessage.length > 0) { %>  
                    <% successMessage.forEach((success) => { %>
                    <span class="success-message"><%= success %></span>
                    <% }) %>

            <% } %> -->
            <% if(errorMessage && errorMessage.length > 0) { %>

                    <% errorMessage.forEach((error) => { %>
                    <span class="error-message"><%= error %></span>
                    <% }) %>

            <% } %>
        </section>

        <section class="input-container">
            <!-- <input type="text" name="username" id="username" placeholder="Username"> -->
            <input type="email" name="email" id="email" placeholder="Email address" autofocus required>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button type="submit" id="submit-btn">Login </button>
        </section>

        <section class="form-footer">
            <p><i>Don't have account?</i> <span><a href="/signup">Sign Up</a></span></p>
        </section>
        
    </form>
</section>

<%- include('./partials/_auth_footer.ejs') %>
<!-- Add footer information -->